/*Estilo para login.php*/
body{
    margin: 0;
    padding: 0;
    background: url(../img/bg.png);
    font-family: sans-serif;
    height:100vh;

}

.login_box{
    width: 420px;
    height: 420px;
    background: #000;    
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}  

.login_box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50%-50px);
}

.login_box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login_box h2 {
    border: none;
    outline: none;
    height: 30px;
    width: 300px;
    text-align: center;
    background:rgb(138, 77, 212);
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 7px 15px 10px 20px;
}

.login_box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login_box input{
    width: 100%;
    margin-bottom: 20px;
}

.login_box input[type="text"],
.login_box input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.container__menu{
    width: 100%;
    height: 70px;
    background-color:rgb(222, 94, 181);
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;

}

nav > ul > lib > a {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}


nav > ul > lib > a:hover {
  transform: scale(1.2);
  background: yellow;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

td,th{
    border: 2px solid black;
}


